$text-color-on-hover: #1DB2E8;
$font-color : #4f6a7b;
$Error-indicator-color : indianred;

.Category-Section {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-top: 3.5%;
}

.category {
    cursor: pointer;
    margin-bottom: 1%;
    list-style: none;
    color: $font-color;
}

.CategoryList {
    padding-left: 10px;
}

.category:hover {
    text-decoration: underline;
    color: #1DB2E8;
}

.SelectedCategory {
    text-decoration: underline;
    color: #1DB2E8;
    font-weight: bold;
}

.Add-Post-Form-Section {
    text-align: center;
    margin-top: 5%;
}

.Add-Post-Form-Section-Post-Title{
    margin-left: 3.3%;
    width: 50%;
    padding: 10px;
    overflow-y: scroll;
    height: 20px;
}

.Add-Post-Form-Section-Post-Body{
    margin-left: 2.7%;
    width: 50%;
    padding: 10px;
    overflow-y: scroll;
    height: 200px;
    white-space: pre-wrap;
}

textarea{
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.Add-Post-Post-Title{
    vertical-align: top;
    color: $font-color;
}

.category-drop-down{
    width: 52%;
    margin-left: 10%;
    font-size: 1em;
}

.category-drop-down-div-error, .text-area-error{
    text-align: left;
    margin-left: 29%;
    color: $Error-indicator-color;
}


.error-border{
    border: 1px solid $Error-indicator-color;
}
