$text-color-on-hover: #1DB2E8;
$font-color : #4f6a7b;
$Error-indicator-color : indianred;

.Category-Section {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    position: relative;
    top: 50px;
}

.category {
    cursor: pointer;
    margin-bottom: 1%;
    list-style: none;
    color: $font-color;
}

.CategoryList {
    padding-left: 10px;
}

.category:hover {
    text-decoration: underline;
    color: #1DB2E8;
}

.SelectedCategory {
    text-decoration: underline;
    color: #1DB2E8;
    font-weight: bold;
}
