$background-color: #3c5569;
$font-color: #FFFFFF;
$logout-link-color: #e4dada;
$header-Bar-font: 1em;

.HeaderBar {
    background-color: $background-color;
    color: $font-color;
    width: 100%;
    font-size: $header-Bar-font;
    position: fixed;
    top: 0;
    z-index: 1;
}

.Logo, .HeaderNav, .User-Info-Section-App-Page, .Logout-Header-Content {
    display: inline-block;
}

.HeaderNav {
    width: 20%;
    margin-left: 5%;
}

.User-Info-Section-App-Page {
    margin-left: 5%;
    width: 50%;
    text-align: right;
}

.User-Info-Section-Comments-Page {
    padding: 15px;
    width: 97%;
    text-align: right;
}

.Welcome-text {
    margin-left: 5%;
}

.Logout-btn {
    color: $logout-link-color;
    text-decoration: none;
    margin-left: 1%;
}

.Logout-btn:hover {
    color: $font-color;
    text-decoration: underline;
}

.Logo-Main-Page {
    padding: 15px;
}

.Logo-Link{
    text-decoration: none;
    color: $font-color;
}

.Logo{
    margin-left: 2%;
    width : 10%;
}

.Burger-icon{
    display: none;
}


@media only screen and (max-width:825px) {
   .Logo{
       width: 100%;
       text-align: center;
       padding:5px;
       margin-left: 0px;
   }
    .HeaderNav{
        width: 50%;
        margin: 0;
        text-align: center;
    }
    .User-Info-Section-App-Page{
        width: 50%;
        margin: 0;
        text-align: center;
    }
}

@media only screen and (max-width:600px) {
    .Logo{
        margin-left: 2%;
        text-align: left;
        padding: 15px;
    }

    .Burger-icon-svg{
        fill: antiquewhite;
    }

    .Burger-icon-svg:hover{
        fill: #eed268;
        cursor: pointer;
    }

    .HeaderNav, .User-Info-Section-App-Page{
        display: none;
    }

    .Logo{
        width: 40%;
    }

    .Burger-icon{
        width: 50%;
        text-align: right;
        position: relative;
        top: 6px;
    }

    .Logo, .Burger-icon{
        display: inline-block;
    }

    .Burger-icon-svg{
        width: 24px;
        height:auto;
    }
}
