.SliderMenu {
    position: fixed;
    top: 0;
    background: #eef3f2;
    right: 0;
    z-index: 2;
    height: 100vh;
    padding: 10px;
}

@media only screen and (min-width: 600px) {
    .SliderMenu {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .SliderMenu-Welcome-text {
        margin-left: 0px;
    }

    .SliderMenu-Logout-btn{
        color: #3d5568;
        margin-left: 1%;
    }

    .SliderMenu-Logout-btn:hover{
        color: indianred;
        text-decoration: underline;
    }

    .SliderMenu-HeaderNavLinks{
        margin-left: 0px;
        position: relative;
        top: 7%;
    }

    .SliderMenu-Link{
        margin-left: 0px;
        color: #3d5568;
    }

    .SliderMenu-Link:hover{
        background-color: deepskyblue;
        color: white;
    }

    .SliderMenu-Welcome-Details{
        text-align: right;
        position: relative;
        top: 6%;
    }

    .SliderMenu-Categories{
        position: relative;
        top:5%;
    }
}
